@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  @apply select-none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Roboto", sans-serif;
}

.global-container {
  @apply px-6 mx-auto lg:px-8;
}

.link {
  @apply font-medium leading-6 cursor-pointer hover:text-primary-600 duration-200;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-radius: 16px;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ebebeb;
}

table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f2f2f2;
}
