@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blue-primary: #0099cc;
}

/* * {
  @apply select-none;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Roboto", sans-serif;
}

.global-container {
  @apply px-6 mx-auto lg:px-8;
}

.link {
  @apply font-medium leading-6 cursor-pointer hover:text-primary-600 duration-200;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-radius: 16px;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ebebeb;
}

table th {
  background-color: #f5f5f5;
  font-weight: medium;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f2f2f2;
}

/* Underline animation */
.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--blue-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Underline animation end */

.product-body h1,
.product-body h2,
.product-body h3,
.product-body h4,
.product-body h5,
.product-body h6 {
  marging: 16px 0 !important;
  font-weight: bold;
}
.product-body ul {
  list-style-type: disc;
  padding-top: 8px;
}
.product-body ul li {
  margin-left: 16px;
}
